<div class="container door-container" [style.visibility]="doorVisibility">
    <div class="row">
        <div class="col-md-12">
            <div class="text-right">
                <button type="button" class="btn btn-primary" (click)="goHome()">Volver al inicio</button>
            </div>
        </div>
        <div class="col-md-12">
            <div class="text-center">
                <h3>Puerta C</h3>
                <p>FELICIDADES!!! Hemos comprobado que eres un ser humano <img src="../../assets/img/emoticon.png" style="width: 100px;" /></p>
                <p>Aquí te dejamos un video con unos músicos de lujo, que logran un sonido en vivo increíble. Sólo debes escuchar y disfrutar...</p>
                <iframe width="840" height="473" src="https://www.youtube.com/embed/hI1UcHIxK1Y" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="position: absolute; top:0; left:0;" [style.visibility]="captchaVisibility">
    <app-captcha (showEmitter)="showContent()"></app-captcha>
</div>