<div class="container-fluid" style="position: absolute; top:0; left:0;">
    <div class="container text-center">
        <p class="title">Seleccione una puerta para ver su maravilloso contenido</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card-body text-center">
                    <a href="/puerta-a"><img class="door" src="../assets/img/door.png" /></a>
                    <p class="card-text">Puerta A</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body text-center">
                    <a href="/puerta-b"><img class="door" src="../assets/img/door.png" /></a>
                    <p class="card-text">Puerta B</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card-body text-center">
                    <a href="/puerta-c"><img class="door" src="../assets/img/door.png" /></a>
                    <p class="card-text">Puerta C</p>
                </div>
            </div>
        </div>
    </div>
</div>